            @font-face {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                src: local("Montserrat-Regular"), url("../fonts/montserrat-400.woff2") format("woff2"), url("../fonts/montserrat-400.woff") format("woff");
            }
            
            @font-face {
                font-family: "Montserrat-b";
                font-style: normal;
                font-weight: 700;
                src: local("Montserrat-Bold"), url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff");
            }
            /* Move down content because we have a fixed navbar that is 3.5rem tall */
            
            body {
                padding-top: 3.5rem;
                text-align: justify;
                font-family: "Montserrat", Elvetica;
            }
            /*deliberatorium customizzation*/
            
            h1,
            h2,
            h3,
            h4 {
                font-family: "Montserrat-b", Elvetica;
            }
            
            h2 {
                text-align: center;
            }
            
            .center-pills {
                display: flex;
                justify-content: center;
            }
            
            .navbar-inverse {
                background-color: #DA4A2D;
                border-color: #666;
            }
            
            .navbar-inverse .navbar-brand {
                color: #fff;
            }
            
            .navbar-inverse .navbar-nav>li>a {
                color: #fff;
            }
            
            .form-inline.my-2.my-lg-0 {
                padding-top: 9px;
                padding-right: 10vw;
            }
            /*.navbar-collapse .form-inline.my-2.my-lg-0 {
    padding-top: 9px;
    padding-right: 10vw;
    width: 100vw;
    margin: 10px;
}

.navbar-collapse .form-inline.my-2.my-lg-0 .button {
    margin-top: 10px;
}*/
            
            a:hover {
                text-decoration: underline !important;
            }
            
            .btn.focus,
            .btn:focus,
            .btn:hover {
                color: #333;
                text-decoration: none;
                border: solid 1px #333;
                border-radius: 4px;
            }
            
            .btn-primary {
                margin: 0.5rem;
            }
            
            .btn-primary:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            
            @media (max-width: 768px) {
                .form-inline.my-2.my-lg-0 {
                    padding-top: 9px;
                    width: auto;
                    margin: 10px;
                    padding-right:0px;
                }
                .btn.btn-outline-success.my-2.my-sm-0 {
                    margin-top: 10px;
                }
            }
