            @font-face {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                src: local("Montserrat-Regular"), url("../fonts/montserrat-400.woff2") format("woff2"), url("../fonts/montserrat-400.woff") format("woff");
            }
            
            @font-face {
                font-family: "Montserrat-b";
                font-style: normal;
                font-weight: 700;
                src: local("Montserrat-Bold"), url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff");
            }
            /* Move down content because we have a fixed navbar that is 3.5rem tall */
            
            body {
                padding-top: 3.5rem;
                text-align: justify;
                font-family: "Montserrat", Elvetica;
            }
            /*deliberatorium customizzation*/
            
            h1,
            h2,
            h3,
            h4 {
                font-family: "Montserrat-b", Elvetica;
            }
            
            h2 {
                text-align: center;
                padding: 0.5em 0;
            }
            
            .center-pills {
                display: flex;
                justify-content: center;
                 margin-top: 1em;
            }
            
            .navbar-inverse {
                background-color: #DA4A2D;
                border-color: #666;
            }
            
            .navbar-inverse .navbar-brand {
                color: #fff;
            }
            
            .navbar-inverse .navbar-nav>li>a {
                color: #fff;
            }
            
            .form-inline.my-2.my-lg-0 {
                padding-top: 9px;
                padding-right: 10vw;
            }
            /*.navbar-collapse .form-inline.my-2.my-lg-0 {
    padding-top: 9px;
    padding-right: 10vw;
    width: 100vw;
    margin: 10px;
}

.navbar-collapse .form-inline.my-2.my-lg-0 .button {
    margin-top: 10px;
}*/
            
            a {
                border: solid 1px rgba(0, 0, 0, 0);
            }
            
            a:hover {
                text-decoration: underline !important;
                border: solid 1px rgba(0, 0, 0, 0);
            }
            
            .btn.focus,
            .btn:focus,
            .btn:hover {
                color: #333;
                text-decoration: none;
                border: solid 1px #333;
                border-radius: 4px;
            }
            
            .btn-primary {
                margin: 0.5rem;
            }
            
            .btn-primary:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            
            @media (max-width: 768px) {
                .form-inline.my-2.my-lg-0 {
                    padding-top: 9px;
                    width: auto;
                    margin: 10px;
                    padding-right: 0px;
                }
                .btn.btn-outline-success.my-2.my-sm-0 {
                    margin-top: 10px;
                }
            }
            /*topic*/
            
            #listtopic p {
                margin: 5px 10px;
                display: inline-grid;
                background-color: #fff;
                border: 1px solid aliceblue;
                padding: 2em 1em;
                box-shadow: #ccc 5px 5px 5px;
            }
            
            #listtopic p::after {
                content: "3 users, 4 layers, 30 posts";
                position: absolute;
                font-size: 1.2rem;
                color: #666;
                padding: 7px 15px;
            }
            
            #listtopic p span {
                font-weight: 700;
                font-size: 1.5em;
                margin: 1em 0.2em;
                display: inline-block;
            }
            
            #listtopic h2::after {
                content: " 14";
                display: block;
                color: #ccc;
                font-size: 2rem;
                margin-top: 2px;
            }
            /*inside a topic*/
             @media (max-width: 480px) {
                .t2nav{display:none;}
            }
            #insidetopic table {
                background-color: #fff;
                text-align: left;
                word-wrap: break-word;
                margin: 3px 2px;
                /*box-shadow: 5px 5px 5px #ccc;
                border: 1px solid #666;*/
            }
            
            #insidetopic>table td:nth-child(3) {
                border: solid #DA4 1px;
                box-shadow: 5px 5px 5px #ccc;
            }
            
            #insidetopic table span {
                padding: 0.3rem 0.5rem 0.2rem 0.5rem;
                display: inline-grid;
            }
            
            #insidetopic .text-nowrap {
                white-space: nowrap;
                white-space: normal;
                margin-right: 0px;
            }
            
            #insidetopic .diffq {
                font-size: large;
                color: black;
            }

/*mmembers and map*/


#insidetopic > table:last-of-type > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
    border: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}
#insidetopic > table:last-of-type > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3)::after {
    content: "42";
    color: #666;
}
#insidetopic > table:last-child {
    margin-top: 5rem;
    margin-left: 1rem;
}


#insidetopic > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) {
    border: none;
    box-shadow: none;
}
.map{color:#C0C0C0;}
.map::after {
    content: "Redesign UI";
    font-size: 2.2rem;
    color: black;
    display: inline-block;
    font-weight: bold;
}
.glyphicon-map-marker,.glyphicon-scale{font-size:2.2rem;color: #666;}
.glyphicon-pushpin{transform: rotateY(180deg);}

table .glyphicon-pushpin::before {
    content: "\e146";
    font-size: 2.2rem;
    color: #666;
}
/*argoments*/

.argp {
    background-color: #03BF78;
    border: 0px solid #03BF78;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 10px;
}
.textargp {
    color: #222;
    font-size: 1.2em;
}
.argn{
    : 0px 0px 0px 5px;
    background-color: red;
    border: 0px solid red;
     margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 10px;
}
/*ideas*/
.idea{
    font-size: large;
    color: #000;
    font-weight: 600;
    font-style: inherit;
}
